<h1>View Cart</h1>
<br>
<p> <a class="continue form-control" [routerLink]="['/apoteka']" routerLinkActive="router-link-active" ><i class="fa fa-cart-plus"></i> Continue shopping </a></p>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                   <tr *ngFor= "let i of korpa">
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object rounded-circle korpaSlike" src="{{i.slik}}"> </a>
                            <div class="media-body">
                                <h4 class="media-heading">{{i.ime}}</h4>
                                <h5 class="media-heading">SKU:{{i.sifra}}</h5>
                                <span>Status: </span><span class="text-success"><strong>Na stanju</strong></span>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="number" [(ngModel)]="i.kolicina" (ngModelChange)="ukupnaCena()" class="form-control" id="kol">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{i.cena}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{i.cena*i.kolicina}}</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger" (click)="delete(i)">
                            <span class="fa fa-remove"></span> Remove
                        </button></td>
                    </tr>

                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>{{total}}</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Shipping</h5></td>
                        <td class="text-right"><h5><strong>FREE</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>{{total}}</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>

                        <td>
                        <button type="button" class="btn btn-success" (click)="check()">
                            Checkout <span class="fa fa-play"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="alert alert-danger" *ngIf ='showDeletedMessage'>Proizvod je obrisan</div>
