<div>


<div class="row bg-primary" style="width: 100%; margin:0 ; padding: 0">
      <div class="col-6" style="padding-left: 0; padding-right: 0;" >
            <img  class="medic" src="../../../assets/img/medical-563427_1920.jpg" alt="">
      </div>
      <div class="col-6 bg-dark " style="padding: 0 10% " >
            <h1 class="text-center" style="color:tomato;">LavMedic</h1>
            <p  class="text-justify text-white "> LavMedic je specijalistička ordinacija iz oblasti interne medicine.
                  Tim lekara,koji pruža najkvalitetniju zdravstvenu uslugu u ordinaciji LavMedic,  dokazani su stručnjaci u svojim oblastima i poseduju dugogodišnje kliničko iskustvo.
                  Naši konsultanti u kratkom vremenskom roku, dijagnostikuju zdravstveni problem, predlažu dalji tok lečenja i prate pacijenta kroz obavezne kontrole.</p>
      </div>
</div>

    <!---  <ngb-carousel style="width:60% ;height:280px;" #carousel interval="8000">
                  <ng-template ngbSlide *ngFor="let artikal of artikliNiz;">
                    <div class="carousel-caption">
                      <h3>My slide title</h3>
                    </div>
                    <a  rel="nofollow noopener noreferrer">
                      <div class="picsum-img-wrapper">
                        <img class="card"  src="{{artikal.slik}}">
                      </div>
                    </a>
                  </ng-template>
                </ngb-carousel>
                
                <hr>
                -->

              
<div >
  
</div>
<div id="bigdiv" class="container py-3 bg-dark" >
        <div class="carousel slide" data-ride="carousel" id="multi_item">
          <div class="carousel-inner v-2" role="listbox">
            <div class="carousel-item active" >
              <div class="row">
                <div class="col-12 col-md-4 item">
                  <div class="card mb-2" style="width:290px; height:410px;">
                    <a  [routerLink]="['/apoteka']">
                      <img class="card-img-top" src="../../../assets/img/slika_6.jpg" alt="Solgar Folat">
                    </a>
                    <div class="card-body">
                      <h4 class="card-title">Folat 400</h4>
                      <p class="card-info">1800 RSD </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-4 item">
                    <div class="card mb-2" style="width:290px; height:410px;">
                      <a [routerLink]="['/apoteka']">
                        <img class="card-img-top" src="../../../assets/img/slika_5.jpg" alt="Magnezijum">
                      </a>
                        <div class="card-body">
                          <h4 class="card-title">Magnezijum</h4>
                          <p class="card-info">1800 RSD </p>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-md-4 item">
                    <div class="card mb-2" style="width:290px; height:410px;">
                      <a [routerLink]="['/apoteka']">
                        <img class="card-img-top" src="../../../assets/img/slika_4.jpg" alt="B-Complex">
                      </a>
                        <div class="card-body">
                          <h4 class="card-title">B-Complex</h4>
                          <p class="card-info">1800 RSD </p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-12 col-md-4 item">
                    <div class="card mb-2" style="width:290px; height:410px;">
                      <a [routerLink]="['/apoteka']">
                        <img class="card-img-top" src="../../../assets/img/slika_3.jpg" alt="Selen 100">
                      </a>
                        <div class="card-body">
                          <h4 class="card-title">Selen 100</h4>
                          <p class="card-info">1800 RSD </p>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-md-4 item">
                    <div class="card mb-2" style="width:290px; height:410px;">
                      <a [routerLink]="['/apoteka']">
                        <img class="card-img-top" src="../../../assets/slika_2.jpg" alt="Vitamin D3">
                      </a>
                        <div class="card-body">
                          <h4 class="card-title">Vitamin D3</h4>
                          <p class="card-info">1800 RSD </p>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-md-4 item">
                    <div class="card mb-2" style="width:290px; height:410px;">
                      <a [routerLink]="['/apoteka']">
                        <img class="card-img-top" src="../../../assets/slika_1.jpg" alt="Antioksidant">
                      </a>
                        <div class="card-body">
                          <h4 class="card-title">Antioksidant</h4>
                          <p class="card-info">1800 RSD </p>
                        </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
        
      
          <div class="divcar" >
          <a class="carousel-control-prev" href="#multi_item" role="button" data-slide="prev">
              <i class="fa fa-chevron-circle-left"></i>
            <span class="sr-only">Previous</span>
          </a>
        </div >
        <div>
            <a class="carousel-control-next" href="#multi_item" role="button" data-slide="next">
                <i class="fa fa-chevron-circle-right"></i>
              <span class="sr-only">Next</span>
            </a>
        </div>
          
          <div id="car-indicators">
              <ol class="carousel-indicators">
                <li data-target="#multi_item" data-slide-to="0" class="active"></li>
                <li data-target="#multi_item" data-slide-to="1"></li>
              </ol>
            </div>
        </div>
      </div>

      <div class="text-center video ">
        <video controls src="../../../assets/video/Prvi ginekološki pregled.mp4">
        </video>

        <table>
          <tr>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td>Anksioznost</td>
            <td>
                <audio controls="controls" id="audio">
                    <source src="../../../assets/audio/y2mate.com - anksioznost_simptomi_KWBE2wQggNo.mp3" type="audio/mp3"/>
             </audio>
            </td>
        </tr>
        <tr>
          <td>Endometrioza</td>
          <td>
              <audio controls="controls" id="audio">
                  <source src="../../../assets/audio/y2mate.com - endometrioza_kao_uzrok_neplodnosti_new_life_o3wHhkyWKfs.mp3" type="audio/mp3"/>
           </audio>
          </td>
      </tr>
      <tr>
        <td>Epilepsija</td>
        <td>
            <audio controls="controls" id="audio">
                <source src="../../../assets/audio/y2mate.com - epilepsije__0Yjc7VCdbo.mp3" type="audio/mp3"/>
         </audio>
        </td>
    </tr>
    <tr>
      <td>Trudnoca</td>
      <td>
          <audio controls="controls" id="audio">
              <source src="../../../assets/audio/y2mate.com - prvi_korak_prvi_simptomi_trudnoe_9ZDBJt_NXBU.mp3" type="audio/mp3"/>
       </audio>
      </td>
  </tr>
        </table>
      </div>
<!---Kraj video/audio-->
<!----Galerija-->
<div>
  <div class="galerijaDiv" >
      <a href="assets/img/gallery/1.jpg" data-lightbox="gal"><img class="gal" src="assets/img/gallery/1.jpg" alt="Image 1"></a>
      <a href="assets/img/gallery/2.jpg" data-lightbox="gal"><img class="gal" src="assets/img/gallery/2.jpg" alt="Image 2"></a>
      <a href="assets/img/gallery/3.jpg" data-lightbox="gallery"><img class="gal" src="assets/img/gallery/3.jpg" alt="Image 3"></a>
       <br>
      <a href="assets/img/gallery/4.jpg" data-lightbox="gal"><img class="gal" src="assets/img/gallery/4.jpg" alt="Image 4"></a>
      <a href="assets/img/gallery/5.jpg" data-lightbox="gal"><img class="gal" src="assets/img/gallery/5.jpg" alt="Image 5"></a>
      <a href="assets/img/gallery/6.jpg" data-lightbox="gal"><img class="gal" src="assets/img/gallery/6.jpg" alt="Image 6"></a>
    </div>
    <button (click)="vidiGaleriju()" class="btn btn-primary text-dark showMore ">Show more</button>
</div>

<!---Kraj galerije-->
     <br>
     <!--About-->
     <div class="row" id="about" (click)="about()">
     <h5 class="text-center"> <strong> Vise o nama...</strong></h5>
     <br>
     <p class="about text-center"> LavMedic organuzuje i <strong> kućnu posetu</strong> za pacijente koji nisu u mogućnosti da zbog složenosti svog zdravstvenog stanja dođu do ordinacije.
      <br>
      Pored navedenih usluga, ordinacija pruža usluge psihologa, kao i porodičnog i bračnog psihoterapeuta.
      <br>
      LavMedic ima  mogućnost organizovanja <strong> sistematskih pregleda</strong>.
      <br>
      Kod nas možete uraditi laboratorijske analize <strong> krvi </strong> i <strong> urina</strong>.
    </p>
  </div>
  <!---Kraj about-->
    <!--Forma-->
     <div class="row forma">
      
       <div class="col-md-4 text-left pt-2 adresa">
        <h3>Adresa</h3>
      <p>Novi Sad,Čerevićka 40<br>
          21124 Adice,<br>
          Volej.<br>

          Contact: +381638764321<br>
          Email: lavmedic@gmail.com<br>

       </p>
       </div>
          <div class="col-md-8 text-right">
      
          
          
          <form role="form" class="contact-form"  #forma="ngForm" novalidate (ngSubmit)="onSubmit()" >
           
        <div class="form-group">
            <i class="fa fa-user" ></i> <label for="name">Ime:</label>
            <input type="text" class="form-control" name="ime" id="ime" placeholder="Unesite ime" ngModel #ime="ngModel" required> 
            <div *ngIf="ime.errors && (ime.dirty || ime.touched)" class="alert alert-danger col-md-10">
                <div [hidden]="!ime.errors.required">Unesite ime.</div> 
            </div>
          </div>
        <div class="form-group">
          <i class="fa fa-envelope-square"></i><label for="email">Email:</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="Unesite email" ngModel #email ="ngModel" required>
          <div *ngIf="email.errors && (email.dirty ||email.touched)" class="alert alert-danger col-md-10">
              <div [hidden]="!email.errors.required">Unesite email.</div>
              <div [hidden]="!email.errors.email">Unesite validan email.</div>
       </div>
  </div>  
        <div class="form-group">
          <i class="fa fa-phone"></i><label for="mobile">Telefon :</label>
          <input type="tel" class="form-control" name="tel" id="tel"  placeholder="Unesite broj telefona" ngModel #tel="ngModel" required>  
        <div *ngIf="tel.errors && (tel.dirty || tel.touched)" class="alert alert-danger col-md-10">
            <div [hidden]="!tel.errors.required">Unesite broj telefona.</div>
          </div>
        </div>
        
        <div class="form-group">
          <label for="messages">Message :</label>
        <textarea class="form-control" name="message" id="message" rows="2"></textarea>
            
        </div>
      
      
        <button class="btn btn-dark text-light" type="submit" [disabled]="!forma.form.valid">Submit</button>

          </form>
  
          </div>

          <!--Kraj forme-->
          
        
      

      





      



      <!---- <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=cerevicka%2040&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/best-wordpress-themes/"></a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div> 
      
    
      <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onLocation($event)">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
          ---> 
          </div>