<section class="portfolio" id="portfolio">
  <div class="container-fluid">
    <div class="row">

      <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="gallery-title text-center">Galerija</h1>
      </div>



<div class="gallery_product col-sm-3 col-xs-6 filter category1">
  <a class="fancybox" rel="ligthbox" href="assets/img/gallery/1.jpg"data-lightbox="gallery">
      <img class="img-responsive" alt="" src="assets/img/gallery/1.jpg" />
      </a>
</div>

<div class="gallery_product col-sm-3 col-xs-6 filter category2">
  <a class="fancybox" rel="ligthbox" href="assets/img/gallery/2.jpg" data-lightbox="gallery">
      <img class="img-responsive" alt="" src="assets/img/gallery/2.jpg" />
  </a>
</div>

<div class="gallery_product col-sm-3 col-xs-6 filter category3">
   <a class="fancybox" rel="ligthbox" href="assets/img/gallery/3.jpg" data-lightbox="gallery">
      <img class="img-responsive" alt="" src="assets/img/gallery/3.jpg" />
      </a>
</div>

<div class="gallery_product col-sm-3 col-xs-6 filter category1">
  <a class="fancybox" rel="ligthbox" href="assets/img/gallery/4.jpg" data-lightbox="gallery">
      <img class="img-responsive" alt="" src="assets/img/gallery/4.jpg" />
      </a>
</div>

<div class="gallery_product col-sm-3 col-xs-6 filter category2">
  <a class="fancybox" rel="ligthbox" href="assets/img/gallery/5.jpg" data-lightbox="gallery">
      <img class="img-responsive" alt="" src="assets/img/gallery/5.jpg" />
      </a>
</div>

<div class="gallery_product col-sm-3 col-xs-6 filter category3">
  <a class="fancybox" rel="ligthbox" href="assets/img/gallery/6.jpg" data-lightbox="gallery">
      <img class="img-responsive" alt="" src="assets/img/gallery/6.jpg" />
      </a>
</div>

<div class="gallery_product col-sm-3 col-xs-6 filter category3">
<a class="fancybox" rel="ligthbox" href="assets/img/gallery/7.jpg" data-lightbox="gallery">
    <img class="img-responsive" alt="" src="assets/img/gallery/7.jpg" />
</a>
</div>

<div class="gallery_product col-sm-3 col-xs-6 filter category3">
<a class="fancybox" rel="ligthbox" href="assets/img/gallery/8.jpg" data-lightbox="gallery">
    <img class="img-responsive" alt="" src="assets/img/gallery/8.jpg" />
</a>
</div>

</div>
</div>
</section>

