button{
    float:right;
}
img{
    width:auto;
    height: 180px;
}
.text{
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 50px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: justify;
}
.blog{
    margin-bottom: 15px;
}