<div>
  <h4 style="text-align: center">O nama</h4>
  <img src="../../assets/img/servicios-medicos.jpg" alt="" style="width:100%; padding-top:1em;" >
  <p>
      Lav Medic je specijalistička ordinacija iz oblasti interne medicine.
      
      Tim lekara,koji pruža najkvalitetniju zdravstvenu uslugu u ordinaciji MEDIC M,  dokazani su stručnjaci u svojim oblastima i poseduju dugogodišnje kliničko iskustvo.
  
      
      Naši konsultanti u kratkom vremenskom roku, dijagnostikuju zdravstveni problem, predlažu dalji tok lečenja i prate pacijenta kroz obavezne kontrole.
      </p>
      <br>
     <h4> U internističkoj ordinaciji MEDIC M, uz pomoć nove i najsavremenije dijagnostičke opreme mogu se obaviti pregledi iz: </h4>
    <ul>      
      <li>kardiologije </li>
      <li>endokrinologije</li>
      <li>gastroenterologije</li>
      <li>nefrologije</li>
      <li>reumatologije</li>
      <li>alergologije</li>
      <li>pulmologije</li>
      <li>fizijatrije</li>
    </ul>

      <br>
     <h4> Ordinacija obavlja kompletnu ultrazvucnu dijagnostiku:</h4>
      <br>
      <li> ultrazvuk srca sa kolor doplerom i tkivnim doplerom </li>
      <li> ultrazvuk štitne žlezde </li>
      <li> ultrazvuk abdomena i male karlice/jetra, slezina,žučna kesa, pankreas, bubezi, nedbubrežna žlezda, limfne žlezde, abdominalna aorta, mokraćna bešika </li>
      <li> ultrazvuk urotrakta sa prostatom </li>
      <li> ultrazvuk dojke </li>
      <li> ultrazvuk zglobnih struktura/mišićno-tetivnih </li>
      <li> kolor dopler krvnih sudova vrata/karotidne arterije/glave </li>
      <li> kolor doppler gornjih i donjih ekstremiteta </li>

      <strong> U ordinaciji možete uraditi gastroskopiju i kolonoskopiju sa ili bez anestezije. </strong>
      
      <p> LavMedic organuzuje i <strong> kućnu posetu</strong> za pacijente koji nisu u mogućnosti da zbog složenosti svog zdravstvenog stanja dođu do ordinacije.
      <br>
      Pored navedenih usluga, ordinacija pruža usluge psihologa, kao i porodičnog i bračnog psihoterapeuta.
      <br>
      LavMedic ima  mogućnost organizovanja <strong> sistematskih pregleda</strong>.
      <br>
      Kod nas možete uraditi laboratorijske analize <strong> krvi </strong> i <strong> urina</strong>.
    </p>
</div>