<div class="modal-header">

  <h4 class="modal-title">Dodaj blog:</h4>
  <button class="close" type="button" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
    </button>
</div>
<div class="modal-body">
  <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
    <div class="form-group">
    <label for="naslov">Naslov:</label>
    <input type="text" class="form-control" formControlName='naslov'>
    <div class="text-danger" *ngIf="isSubmited && formControls.naslov.errors?.required">
        This field is required.
      </div>
  </div>
  <div class="text-center">
  <img [src]="imgSrc" width="300px" height="250px" (click)="fileUploader.click()" >
</div>
  <div class="form-group">
    <label for="slika">Slika:</label>
    <input type="file" class="form-control" #fileUploader  formControlName='slika' id="file1" (change)="ucitajSliku($event)" accept="image/*">
    <div class="text-danger" *ngIf="isSubmited && formControls.slika.errors?.required">
      This field is required.
    </div>
  </div>
    <br>
    <div class="form-group">
        <label for="tekst">Tekst:</label>
        <input type="text" class="form-control"  formControlName='tekst' id="tekst" >
        <br>
        <div class="text-danger" *ngIf="isSubmited && formControls.tekst.errors?.required">
            This field is required.
          </div>
      </div>
    <br>
<div class="form-group">
    <button type="submit" class="btn btn-success float-right">Upload</button>
  </div>
  </form>
</div>
<div class="modal-footer">
  <button (click)= "activeModal.dismiss('Close clicked')"></button>
</div>
